// https://color.romanuke.com/tsvetovaya-palitra-3994/
// $darkblue: #272025;

$action: #d40a00; //red
$pre-action: #fc4c58; //pink
$pre-main: #95a84c; //lightgreen
$main: #002e09; //green
$mddain: #69993e; //green
